.myformrow .col-lg-6 {
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
}
.myformrow .col-lg-6 input,textarea{
    color: white !important;
    background-color: transparent !important;
}
.myformrow .col-lg-6 input::placeholder,textarea::placeholder{
    color: white !important;
    font-weight: 500;
}
body {
  background-image: url(/imgLogo/pxels2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: bold;
}
.myformcard{
    background-color: transparent;
}